pip install pandas
pip install streamlit-option-menu
pip install MySQLdb
pip install streamlit-authenticator
pip install yaml
pip install sqlalchemy
pip install seaborn
pip install matplotlib

